# Database configuration
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=garch_database

# Spring configuration (once app runs in Docker)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=garch_database
SPRING_DATASOURCE_USERNAME=myuser
SPRING_DATASOURCE_PASSWORD=mysecretpassword