<div th:fragment="errorModal" xmlns:th="http://www.thymeleaf.org">
    <div class="modal fade" id="errorModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chyba</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p id="errorModalMessage"></p>
                </div>
            </div>
        </div>
    </div>
</div>
