<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="editTimeSeriesModal">
    <div class="modal fade" id="editTimeSeriesModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <form id="editTimeSeriesForm" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Upravit časovou řadu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zavřít"></button>
                    </div>

                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="timeSeriesName" class="form-label">Název</label>
                            <input type="text" class="form-control" id="timeSeriesName" name="name" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Viditelnost</label>

                            <div class="d-flex align-items-center gap-2">

                                <span>Private</span>

                                <div class="form-check form-switch m-0">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           id="timeSeriesVisibility">
                                </div>

                                <span>Public</span>

                            </div>
                        </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zrušit</button>
                        <button type="submit" class="btn btn-primary">Uložit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>